<footer class="container-fluid border rounded mt-5">
    <div class="footer-items  position-relative m-5 mt-4">
        <div class="fppter-item-1">
            <div>
                <p class="footer-p fw-bold">powerd <i class="fa-brands fa-angular fa-2xl text-danger"></i> by Angular</p>
            </div>
            <div>
                <p class="footer-p fw-bold">Google Products</p>
            </div>

        </div>

        <div class="fppter-item-2 position-absolute ">
            <div>
                <p class="hp-item fw-bolder">© 2022 :
                    <!-- <a href="mailto:eng.shex003@gmail.com" class="text-decoration-none cursor-p hp-item-2 fw-bolder rounded"> batsignal.tech</a>. All rights reserved.</p> -->
                    <a href="mailto:eng.shex003@gmail.com" class="test text-decoration-none cursor-p hp-item-2 fw-bolder "> batsignal.tech</a>. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>