<div class="contact-item container mt-5 ">


    <div class="row  ">

        <div class="col-md-6 contact-one mt-5 mb-5">
            <div>
                <h1 class="display-4 fw-bold text-info mb-3">GET IN TOUCH</h1>
            </div>
            <div>
                <P class="lead fw-bold mt-3">If you'd like to communicate with me for some reason — maybe you'd like to offer me work, maybe you'd just like to tell me how wonderful I am — your easiest option is to
                    <a href="mailto:karlpwebster@gmail.com" class="text-decoration-none">
                        <span class="fw-bold text-primary">send me an email</span></a>.
                </P>
            </div>
            <div>
                <p class="lead fw-bold mt-3">That's it. Piece of cake. Whatever you do, don't phone me. Even if you happen to know my phone number, don't phone me. I won't answer. <br><br> Thanks!
                </p>
            </div>
        </div>

        <div class="col-md-6 mt-5 mb-5">
            <div class="sub-items w-80 m-auto ">
                <div>
                    <P class="lead fw-bold ">Alternatively, you can fill in the form below...</P>
                </div>
                <div *ngIf="isSuccess" class="alert alert-primary" role="alert">
                    your request has been submitted
                </div>
                <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="border border-2 rounded">
                    <div>
                        <div class="p-2">
                            <div class="form-group">
                                <input type="text" class="form-control" name="name" ngModel #name="ngModel" [ngClass]="{ 'is-invalid': isSubmitted && name.invalid }" placeholder="Enter your name" required />
                                <div *ngIf="isSubmitted && name.invalid" class="invalid-feedback">
                                    <div *ngIf="$any(name)?.errors?.required"> Name is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="p-2">
                            <div class="form-group">
                                <input type="text" class="form-control" name="email" ngModel #email="ngModel" [ngClass]="{ 'is-invalid': isSubmitted && email.invalid }" placeholder="Enter your email" required email />
                                <div *ngIf="isSubmitted && email.invalid" class="invalid-feedback">
                                    <div *ngIf="$any(email)?.errors?.required">Email is required</div>
                                    <div *ngIf="$any(email)?.errors?.email">Email must be a valid email address</div>
                                </div>
                            </div>
                        </div>
                        <div class="p-2">
                            <div class="form-group">
                                <textarea name="message" ngModel required #message="ngModel" [ngClass]="{ 'is-invalid': isSubmitted && message.invalid }" placeholder="Enter your text" cols="30" rows="3" required class="form-control"></textarea>
                                <div *ngIf="isSubmitted && message.invalid" class="invalid-feedback">
                                    <div *ngIf="$any(message)?.errors?.required"> Please leave your message</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="w-75 p-2"><button type="submit" class="btn-buy btn btn-primary">Submit</button></div>
                </form>
            </div>
        </div>
    </div>
</div>