<!-- back image -->
<!-- <div class="back-img ">
    <div class="back-layer"></div>
</div> -->

<!-- head -->

<div class="container mt-5 items">
    <div class=" position-relative p-4 ">
        <div class="about text-dark text-center">
            <h2>'YOU ARE A WRITER. IT OOZES OUT OF YOU, LIKE BLOOD…' </h2>
        </div>

        <div class="aboutSon position-absolute">
            <h5> -Molly Parkin</h5>
        </div>
    </div>
</div>

<!-- sec0 -->
<div class="container mt-5 ">
    <div class="sec0 w-75 m-auto ">
        <P class="lead fw-semibold fs-5">In December of 2007, I created an online persona called Stan Cattermole. Stan kept a blog called
            <a (click)="openBio0()" class="link-p fw-bold text-primary"> <span class="cursor-p"> Bête de Jour … an ugly man's guide to life, love and happiness.</span></a> This is what it looked like…
        </P>
    </div>
    <div class=" p-3 ">
        <div class="sec0 w-75 m-auto shadow-lg p-3 bg-white rounded">
            <img src="assets/images/BIO-1-betedejour-website-grab.png" class="sec0 w-100" alt="">
        </div>
    </div>
</div>
<div class="container ">
    <div class="row items m-5 p-5 ">
        <div class="col-md-8 offset-md-1">

            <p class="lead mt-5">Although I knew that, ethically, it was a questionable exercise to pretend to be physically deformed on the internet, I also felt it was a wonderful idea, so I did it. As it turned out, the blog became very popular and after eight months I
                was approached by a couple of literary agents and a major non-fiction publisher. The following year a book was published by Collins. This is what the book looked like…
            </p>


        </div>
        <div class="img-p col-md-3">
            <a (click)="openBio1()"><img src="assets/images/BIO-2-betedejour_cover.jpeg" class="img-item  w-100 " alt=""></a>

        </div>
    </div>
</div>
<div class="line container border border-info mt-5 mb-5"></div>
<!-- sec1 -->

<!-- sec2 -->
<div class="container mt-5">

    <div class="sec2 w-75 m-auto ">
        <P class="lead fw-semibold fs-5">It was difficult to publicise the book on account of the fact that its USP was essentially a fabrication – but I did do a couple of TV interviews with a bag on my head. Here I am, for example, on GMTV…</P>
    </div>

    <div class="p-3">
        <div class="sec2 w-75 m-auto shadow-lg p-3 mb-5 bg-white rounded">
            <img src="assets/images/BIO-3-me-on-gmtv.jpeg" class="w-100" alt="">
        </div>
    </div>


</div>

<div class="line container border border-info mt-3 mb-5"></div>
<!-- sec3 -->
<div class="container mt-5">
    <div class="items items-m py-5">

        <div class="sec3 w-75 m-auto">
            <P class="lead fw-semibold fs-5">Ultimately the book didn't sell very well, even when the title and cover were dumbed down for paperback… </P>
        </div>


        <div class="sec3 sec3-img w-25 m-auto shadow-lg p-3 mb-5 bg-white rounded">
            <img src="assets/images/BIO-4-sexy-beast_cover.jpeg" class=" w-100 " alt="">
        </div>


        <div class="sec3 w-75 m-auto">
            <p class="lead fw-semibold fs-5">…but that doesn't mean it's not an exceptionally good book. <br><br>Prior to Bête de Jour, I worked as a journalist on various London lifestyle magazines and was editorial director for a London website that was going to be so, so great, but
                then tragically wasn't. I have also written English definitions for new Italian words in the Ragazzini Italian-English dictionary, sketches and scripts for long-forgotten Radio 4 comedy programmes, translations for Italian cigarette-packet-making
                machines, bogus poetry for the labels of regenerative moisturising potions, underground marketing campaigns for terrible Hollywood films and tedious yearbooks for odious governmental departments.</p>
        </div>

    </div>
</div>

<div class="line container border border-info mt-5 mb-5"></div>
<!-- sec4 -->

<div class="container mt-5">

    <div class="sec4 w-75 m-auto">
        <P class="lead fw-semibold fs-5">Also, under the name Graham Pond, I co-wrote a guidebook for <a (click)="openBio4()" class="link-p cursor-p fw-bold text-primary">Second Life</a> and edited a couple of quirky
            <a (click)="openBio401()" class="link-p cursor-p fw-bold text-primary">London guide books...</a> </P>
    </div>


    <div class="sec4 w-75 m-auto shadow-lg p-3 mb-5 bg-white rounded">
        <img src="assets/images/BIO-5-second-life-and-london-by-london.jpg" class="w-100" alt="">
    </div>

</div>

<div class="line container border border-info mt-5 mb-5"></div>
<!-- sec5 -->

<div class="container mt-5">
    <div class="items items-m py-5">

        <div class="sec5 w-75 m-auto">
            <P class="lead fw-semibold fs-5">After Bête de Jour, I moved to France where, as well as a couple of features, I wrote a monthly column for Living France magazine...</P>
        </div>


        <div class="sec5 w-75 m-auto shadow-lg p-3 mb-5 bg-white rounded">
            <img src="assets/images/BIO-6-living-france-columns.jpeg" class="w-100" alt="">
        </div>

    </div>

</div>

<div class="line container border border-info mt-5 mb-5"></div>
<!-- sec6 -->

<div class="container mt-5 ">
    <div class="mb-5">
        <div class="sec6 w-75 m-auto">
            <P class="lead fw-semibold fs-5">I have also worked as a researcher, an editor, a sub-editor, a copywriter, a professional blogger for Amnesty, an actor, a travel writer, a teacher, a set-builder and a landscape gardener. Oh, and most recently, a tour guide. <br><br>Here
                I am, writing, scowling and brandishing what may well be a sonic screwdriver in France…</P>
        </div>


        <div class="sec6 w-75 m-auto shadow-lg p-3 mb-5 bg-white rounded">
            <img src="assets/images/BIO-6-me-in-France.jpg" class="w-100" alt="">
        </div>

    </div>

</div>

<div class="line container border border-info mt-5 mb-5"></div>
<!-- sec7 -->

<div class="container mt-5">
    <div class="items items-m py-5">

        <div class="sec7 w-75 m-auto">
            <P class="lead fw-semibold fs-5">My writing has been compared to the work of Kurt Vonnegut, Irvine Welsh, William Leith, Mark Twain and Charles Dickens. I was also once accused of 'hovering somewhere between Dostoevsky, Wodehouse and Adrian Mole'. Oh, and let's not forget,
                I was also described as <span class="link-p fw-bold text-primary">'one of the hottest literary talents of 2009'</span> by London Lite, and consequently
                <span class="link-p fw-bold text-primary"> Sky News...</span> </P>
        </div>


        <div class="sec7 w-75 m-auto shadow-lg  bg-white rounded">
            <img src="assets/images/BIO-7-me-on-sky-news.png" class="w-100" alt="">
        </div>

    </div>

</div>

<div class="line container w-25 border border-info mt-5 mb-5"></div>
<!-- sec8 -->



<div class="container mt-5">

    <div class="sec8 w-75 m-auto">
        <P class="lead fw-semibold fs-5">Those were the days. <br><br>Despite all of these nice things, I remain unencumbered by mainstream or financial success. <br>But I am not dead yet. <br><br> Here Iam in fact, very much ALIVE...</P>
    </div>
    <img src="assets/images/BIO-0-BANNER-who-am-i-banner-faces-collage.jpg" class="img-sec8 w-100 mb-5" alt="">

</div>
