@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato:wght@300&family=Montserrat+Alternates:wght@300&display=swap');
body {
    background-color: #fff;
    font-family: 'Lato', sans-serif !important;
    color: #000;
}

.cursor-p {
    cursor: pointer;
}
