<!-- introduction -->

<div class="container ">
    <div class="intro p-5">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class=" ">
                    <img src="assets/images/WhatsApp Image 2022-06-13 at 5.36.11 PM.jpeg" class="img-one w-100 p-5" alt="">
                </div>
            </div>
            <div class="col-md-6 align-self-center">
                <div class="home-text  ">
                    <p class="lead fw-semibold fs-5">My name is <a [routerLink]="['/bio']" class="fw-bold text-info text-decoration-none">Karl Webster</a> and this is my website. There used to be lots of things here— articles, reviews, guides, all kinds of things — but then I tore them
                        all up and threw them all away. Was this a good idea? I really don&#39;t know. But it was time for a change. Now it&#39;s mostly links to some books that I&#39;ve written. Have a root around if you&#39;ve a mind to. As for the
                        future,
                        <a id="navlink" class="cursor-p text-primary fw-bold text-decoration-none ">THE AMSTERDAM GOOD MURDER GUIDE</a> is finished and should hopefully be with you later this year. Notice I'm careful not to name the year? Yep.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="line-1 container border border-info mt-3 mb-5"></div>

<!-- book-item1 -->

<div class="container" id="bookmark">
    <div class="row book-item book-item4 m-5 p-5">
        <div class="col-md-8 text-item4 offset-md-1">
            <h1 class="fw-bold text-primary mt-3">The Amsterdam Good Murder Guide </h1>
            <p class="lead"><em>'This is the story of how I became a serial killer. And I know that sounds bad — you hear “serial
                killer” and immediately you think: “bad egg”. Well … not this time. I'm the exception that proves
                the rule. I'm a good guy, and the nicest multiple murderer in history. You'll see…'</em></p>
            <p class="lead ">So begins the increasingly incendiary confession of Amsterdam tour guide, female supremacist and confused Buddhist, Wesley Bell. After seven years of non-violence, Wesley's dream of a world without sociopaths is given a boost when, entirely
                incidentally, he's caught up in a pair of fortuitous freak fatalities. Then when yet more toxic humans cross his path, Wesley is faced with a choice: does he sit back and allow these soulless trolls to wreak their terrible havoc? Or does
                he take arms against a sea of misogynistic man-demons, and strike a blow for the greater good?</p>
            <p class="lead">If you'd like to know when it's available, pop your email in here:</p>

            <div *ngIf="isSIGNUPSuccess" class="alert alert-primary" role="alert">
              your request has been submitted
            </div>
            <form  #form="ngForm" (ngSubmit)="onSIGNUPSubmit(form)" class="border border-primary border-1 rounded" id="browser">
                <div>
                    <div class="p-2">
                      <div class="form-group">
                        <input type="text" class="form-control" name="name" ngModel #name="ngModel" [ngClass]="{ 'is-invalid': isSIGNUPSubmitted && name.invalid }"  placeholder="Enter your name"  required />
                        <div *ngIf="isSIGNUPSubmitted && name.invalid" class="invalid-feedback">
                            <div *ngIf="$any(name)?.errors?.required"> Name is required</div>
                        </div>
                    </div>
                    </div>
                    <div class="p-2">
                      <div class="form-group">
                        <input type="text" class="form-control" name="email" ngModel #email="ngModel" [ngClass]="{ 'is-invalid': isSIGNUPSubmitted && email.invalid }" placeholder="Enter your email"   required email />
                        <div *ngIf="isSIGNUPSubmitted && email.invalid" class="invalid-feedback">
                            <div *ngIf="$any(email)?.errors?.required">Email is required</div>
                            <div *ngIf="$any(email)?.errors?.email">Email must be a valid email address</div>
                        </div>
                    </div>
                  </div>

                </div>
                <div class="btn-sub w-75 p-2"><button type="submit" class="  btn btn-primary"> <h6 class="m-0">SIGN UP</h6> </button></div>
            </form>
        </div>
        <div class="img-p col-md-3">
            <img src="assets/images/The-Amsterdam-Good-Murder-Duide-temporary-cover.jpeg" class="img-item  w-100" alt="">
        </div>

    </div>
</div>

<div class="line-fu container border border-info mt-3 mb-5"></div>

<!-- sec1 -->

<div class="container ">
    <div class="row book-items book-item4 items m-5 p-5 ">
        <div class="img-p col-md-3">
            <a (click)="openBio1()"><img src="assets/images/BIO-2-betedejour_cover.jpeg" class="img-item  w-100 " alt=""></a>

        </div>
        <div class="col-md-8 offset-md-1">
            <h1 class="fw-bold text-primary mt-3">Bête De Jour: The Intimate Adventures of an Ugly Man</h1>
            <p class="lead">After an eventful school reunion and the rekindling of an old friendship, self-confessed ugly fellow Stan Cattermole turns 30 and gives himself a year to lose half his body weight and find himself someone to love, becoming something of an
                internet celebrity in the process.</p>
            <p class="lead">I'll be honest, I just dipped into my last remaining copy of this book to check something, and <em>poof! —</em>  an hour was gone. I'm sorry if this sounds arrogant, but this book is bloody magnificent. I'd honestly forgotten how good it is.
                Shame so few people read it. Ricky Gervais almost optioned it apparently. But then he didn't. Doesn't mean it isn't great. It is.</p>
            <p class="lead">It's a novel by the way, that for <a [routerLink]="['/bio']" class="fw-bold text-primary text-decoration-none">complicated reasons</a>, was published by Collins as an autobiography. Life is weird. This book is genuinely awesome. Buy it now
                <a (click)="openBio1()" class="fw-bold text-primary text-decoration-none cursor-p">in print.</a>
            </p>
            <a (click)="openBio1()"><button type="button" class="btn-buy btn btn-primary">Available</button></a>

        </div>

    </div>
</div>

<div class="line container border border-info mt-5 mb-5"></div>


<!-- book-item2 -->

<div class="container">
    <div class="row book-item  m-5 p-5">
        <div class="col-md-8 offset-md-1">
            <h1 class="fw-bold text-primary mt-3">Lying Dogs</h1>
            <p class="lead ">An as yet unpublished novel about estranged family members reuniting when a trunk full of Italian antiquities is discovered in a London back garden. It will be with you sometime in the future. When? Nobody knows. How exciting!</p>
            <button type="button" class="btn-buy btn btn-primary">Available soon</button>
        </div>
        <div class="img-p col-md-3">
            <img src="assets/images/Lying Dogs - High Resolution.jpg" class="img-item  w-100 " alt="">
        </div>
    </div>
</div>

<div class="line-4 container w-75 border border-info mt-3 mb-5"></div>


<!-- book-item3 -->

<div class="container">
    <div class="row book-items book-item4 m-5 p-5">
        <div class="img-p col-md-3">
            <a (click)="openNew1()"><img src="assets/images/Little Book of Shame - High Resolution.jpg" class="img-item  w-100 " alt=""></a>
        </div>
        <div class="col-md-8 offset-md-1 ">
            <h1 class="fw-bold text-primary mt-3">The Little Book of Shame</h1>
            <p class="lead ">A collection of bits and pieces — letters, articles, columns, a review or two — that tell, very roughly, the story of my life. An autobiography, in other words, for people who don't much care for reading. All good fun and occasional poignancy.
                Five stars. Available in both digital and print form. Currently <a (click)="openNew1()"><span class="cursor-p fw-bold text-primary">Amazon</span> </a> only. At some point, all things being well, other less evil options will be available.
                Inshallah.
            </p>
            <a (click)="openNew1()"><button type="button" class="btn-buy btn btn-primary ">Buy now</button></a>
        </div>

    </div>
</div>

<div class="line-2 container w-75 border border-info mt-3 mb-5"></div>
<!-- book-item4-->

<div class="container">
    <div class="row book-item  m-5 p-5">

        <div class="text-item01 col-md-8 offset-md-1">
            <h1 class="fw-bold text-primary mt-3">The Lives and Loves of Hana Lee </h1>
            <p class="lead">Concert pianist, nun, sex worker, spy, Hana Lee is also, by any definition, a serial killer. Even if most of her victims did have it coming, all that killing was bound to take its toll, so in 2012, Hana Lee is in London looking for an exit
                strategy. All she has to do before she goes is make a full confession. Which is when she meets Lucia, and everything changes…</p>
            <p class="lead">Part contemporary love story, part historical biography, The Lives and Loves of Hana Lee is an extraordinary story of female love, rage and empowerment, set against a backdrop of two hundred years of male chauvinism. By turns explicit, shocking,
                darkly funny and deeply moving.</p>
            <p class="lead mt-4">A second edition of the acclaimed supernatural historical erotic feminist novel is complete and is available for purchase in digital and print at <a (click)="openNwe2()"><span class="cursor-p fw-bold text-primary">Amazon</span> </a> Or hey,
                <a href="mailto:karlpwebster@gmail.com" class="text-decoration-none"> <span class="fw-bold text-primary">mail me</span></a> We can work something out.</p>
            <a (click)="openNwe2()"><button type="button" class="btn-buy btn btn-primary">Buy now</button></a>
        </div>
        <div class="img-p col-md-3">
            <a (click)="openNwe2()"><img src="assets/images/Lives & Loves - High Resolution.jpg" class="img-item  w-100" alt=""></a>
        </div>
    </div>
</div>

<div class="line-3 container w-75 border border-info mt-3 mb-5"></div>

<!-- futured -->

<div class="container  py-5">
    <div class="w-75 m-auto ">
        <h2 class="fw-bold text-dark text-center">As featured in...</h2>
    </div>
    <div class="future-img w-75 m-auto ">
        <img src="assets/images/futured/Screenshot-2017-01-05-15.18.19-1024x332.png" class="w-100" alt="">
    </div>
    <div class="future-text w-75 m-auto ">
        <p class="lead mt-2">These are just a handful of some of the publications and media outlets in and on which I have been featured, no matter how tenuously. Displaying them in this ostentatious manner is called 'social proof' and it is most assuredly not the behaviour
            of a desperate man. Look! Grazia! Oh my god, the Daily Mail.</p>
    </div>
</div>

<div class="line-sub container border border-info w-50 mt-3 mb-5"></div>
<!-- subscribtion -->

<!-- <div class="container">
    <div class="sub-items w-50 m-auto ">
        <div>
            <p class="lead fw-bold"> To ensure that you're kept informed of these exciting developments and that you don't miss your chance to read these damn fine books, sign up below...</p>
        </div>
        <form (ngSubmit)="submitRegister(registerForm)" [formGroup]="registerForm" class="border border-primary border-1 rounded">
            <div class="name p-2">
                <input type="text" class="form-control" formControlName='name' placeholder="Enter your name" id="name ">
                <div *ngIf="registerForm.get('name')?.errors && registerForm.get('name')?.touched" class="alert alert-danger my-2">
                    <p *ngIf="registerForm.get('name')?.errors?.['required']" class="m-0">name is required</p>
                    <p *ngIf="registerForm.get('name')?.errors?.['minlength']" class="m-0">name minLength is 3</p>
                    <p *ngIf="registerForm.get('name')?.errors?.['maxlength']" class="m-0">name maxLength is 8</p>
                </div>
            </div>
            <div class="email p-2">
                <input type="email" class="form-control" formControlName='email' placeholder="Enter email" id="email">
                <div *ngIf="registerForm.get('email')?.errors && registerForm.get('email')?.touched" class="alert alert-danger my-2">
                    <p *ngIf="registerForm.get('email')?.errors?.['required']" class="m-0">email is required</p>
                    <p *ngIf="registerForm.get('email')?.errors?.['email']" class="m-0">email is invalid</p>
                </div>
            </div>
        </form>
        <div class="w-75 py-2">
            <button [disabled]="registerForm.invalid" type="submit" class="btn-buy btn btn-primary">GIVE ME THE GIFT OF GREAT WRITING</button>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="sub-items w-50 m-auto ">
        <div>
            <p class="lead fw-bold">To make sure you read The Amsterdam Good Murder Guide before it gets turned into a Netflix show and jumps the shark, pop your email address in here…</p>
        </div>
        <div *ngIf="isGiveMeGiftGreatWritingSuccess" class="alert alert-primary" role="alert">
          your request has been submitted
        </div>
        <form  #GiveMeForm="ngForm" (ngSubmit)="onGiveMeGiftGreatWritingSubmit(GiveMeForm)" class="border border-primary border-1 rounded" id="browser">
            <div>
              <div class="p-2">
                <div class="form-group">
                  <input type="text" class="form-control" name="name" ngModel #name="ngModel" [ngClass]="{ 'is-invalid': isGiveMeGiftGreatWritingSubmitted && name.invalid }"  placeholder="Enter your name"  required />
                  <div *ngIf="isGiveMeGiftGreatWritingSubmitted && name.invalid" class="invalid-feedback">
                      <div *ngIf="$any(name)?.errors?.required"> Name is required</div>
                  </div>
              </div>
              </div>
              <div class="p-2">
                <div class="form-group">
                  <input type="text" class="form-control" name="email" ngModel #email="ngModel" [ngClass]="{ 'is-invalid': isGiveMeGiftGreatWritingSubmitted && email.invalid }" placeholder="Enter your email"   required email />
                  <div *ngIf="isGiveMeGiftGreatWritingSubmitted && email.invalid" class="invalid-feedback">
                      <div *ngIf="$any(email)?.errors?.required">Email is required</div>
                      <div *ngIf="$any(email)?.errors?.email">Email must be a valid email address</div>
                  </div>
              </div>
            </div>
            </div>
            <div class="btn-sub w-75 p-2"><button type="submit" class="  btn btn-primary"> <h6 class="m-0">GIVE ME THE GIFT OF GREAT WRITING</h6> </button></div>
        </form>
    </div>
</div>
<div></div>
